.hero {
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
}

.herobg {
    position: absolute;
    bottom: 0;
    width: 100lvw;
    height: auto;
    z-index: 1;
}

.hero_left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 20%;
}

.hero_left > h3 {
    color: var(--text-30);
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    background: var(--secondary);
}

.teambg {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100lvw;
    z-index: 1;
}

.team_cont,
.team_cont_mobile {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    z-index: 1;
}

.team_member {
    width: 100%;
    height: max-content;
    padding: 1rem;
    background: var(--accent);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.team_pic {
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    background: var(--background);
    border-radius: 15px;
}

.team_pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sdg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;
}

.sdg > div {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 1rem;
}

.sdg_info > h5 {
    color: var(--text-30);
}

.sdg_info > h4 {
    width: 90%;
}

.sdg_info {
    flex-direction: column;
    justify-content: center;
}

.sdg_info > a {
    width: max-content;
}

.sdg_preview {
    position: relative;
    display: grid;
    place-items: center;
}

.sdg_blob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200%;
    z-index: -1;

    filter: blur(50px);
    transition: width ease 300ms;
}

.sdg_photo {
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    background: var(--accent);
    border-radius: 15px;
    box-shadow: 0 0 15spx -10px black;
}

.team_cont_mobile {
    display: none;
}

@media (max-width: 1024px) {
    .team_cont {
        display: none;
    }

    .team_cont_mobile {
        display: grid;
        grid-template-columns: 1fr;
    }

    .team {
        height: auto;
    }

    .sdg {
        padding: 2rem 10lvw;
        height: max-content;
    }
}

@media (max-width: 768px) {
    .sdg {
        height: auto;
        grid-template-columns: 1fr;
    }

    .sdg_blob {
        display: none;
    }
}

@media (max-width: 640px) {
    .team_cont {
        grid-template-columns: 1fr;
    }

    .team_member {
        transform: translateY(0) !important;
    }
}