.navbar {
    position: sticky;
    top: 0;
    width: 100lvw;
    height: var(--nav);
    padding: 0 10lvw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    user-select: none;
    z-index: 2;

    background: var(--background);

    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    background: var(--background-30);
    backdrop-filter: blur(5px);
}

.navbar h4 {
    color: var(--primary);
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}

.right > * {
    color: var(--text);
    transition: color ease 300ms;
}